@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #eaeaff;
  font-family: 'Montserrat';
  font-size: 16px;
}

img {
  max-width: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

#logo {
  max-width: 70px;
  padding-right: 12px;
}

#branding {
  height: 100%;
  font-size: 20px;
  font-weight: 700;
}

.center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}